<html>
    <head>
        <title>Alexis's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Alexis's Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>I prefer horses over bunny rabbits, although they are both adorable.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Hi there.</p>
        </div>
    </body>
</html>
